.BlockWrapper {
  display: block;
  outline: none;
  touch-action: none;
  pointer-events: visible;
  user-select: none;
  float: left;
  height: fit-content;
  &:hover {
    outline: 2px solid rgba(217, 85, 9, 0.3);
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
    outline: 2px solid rgb(217, 84, 9);
  }
  &:focus {
    cursor: grabbing;
    outline: 2px solid rgb(217, 84, 9);
  }
}

// .BlockWrapper * {
//   pointer-events: none;
// }

.BlockWrapper__active {
  outline: 2px solid rgb(217, 84, 9);
  cursor: grabbing;

  &:hover {
    outline: 2px solid rgb(217, 85, 9);
  }
}
